body{
    display:flex;
    flex-direction:column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.container{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    flex:1;
    background-color: #1F2937;
    font-size:18px;
    color:#E5E7EB;
    padding-bottom: 50px;
}
.header{
    font-size: 24px;
    color:#F9FAF8;
}
ul{
display:flex;
justify-content:space-between;
gap: 16px;
list-style: none;
text-decoration-style: none;
color:inherit;
}
a {
    color:inherit;
    text-decoration: none;
}
.first{
    display:flex;
    flex-direction: row;
    justify-content:center;
    background-color: #1F2937;
}
    
.card{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 500px;
}
.placeholder{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
    color:#E5E7EB;
    background-color: gray;
    margin: 25px;
    padding: 75px;
    width: 400px;
}
.hero{
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}
.button{
    background-color:#3882F6;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
    display:flex;
    align-self: flex-start;
    justify-content:center;
    width:100px;
}
.secondary{
    font-size: 18px;
    color: #E5E7EB;
}
.second{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.information{
    font-size: 36px;
    font-weight:bolder;
    color:#1F2937;
    padding: 32px;
}
.boxes{
    display:flex;
    gap: 32px;
}
.box{
    width: 200px;
    height: 200px;
    border: solid #3882F6;
    border-radius: 15px;
    
}
.subtext{
    display:flex;
    flex-direction: row;
    gap:32px;
}
.under{
    display:flex;
    width: 200px;
    flex-wrap: wrap;
    font-size: 18px;
}
.third{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.quote{
    width:800px;
    font-size: 36px;
    color:#1F2937;
    font-style:italic;
}
.Thor{
    font-weight:bold;
    font-size: 18px;
    align-self: flex-end;
    width:800px;
}
.four{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    color:#E5E7EB;
    background-color: #3882F6;
    padding: 32px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 68px;
    margin-bottom: 68px;
}
.time{
    font-size: 18px;
    font-weight: bold;
}
.product{
    color:#E5E7EB;
}
.call{
    display:flex;
    flex-direction:column;
}
.action{
    display:flex;
    justify-content: center;
    background-color: #3882F6;
    color:#E5E7EB;
    border-color: #E5E7EB;
    align-self:center;
    width: 100px;
    font-size: 18px;
}
.up{
    display:flex;
    justify-content:center;
    flex-direction:column;
    
}
.footer{
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:#1F2937;
    color: #E5E7EB;
    padding: 16px;
    margin-top: auto;
}
